# Data Manipulation
pandas
numpy

# Machine Learning
scikit-learn

# Visualization
matplotlib
seaborn

# Dashboard & UI
streamlit
streamlit-option-menu
plotly
joblib

# Development Tools (Optional for VS Code)
ipykernel
notebook